*{
  margin: 0;
  padding:0;
}
  main{
    width: 700px;
    height: inherit;
    background-color: grey;
    margin:0 auto;
  }
  header{
    background-color: blue;
    margin: 0 auto;
  }
  footer{
    width: 960px;
    background-color: black;

  }
  .wrapper{
    width: 700px;
    height: auto;
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: 340px 340px;
    grid-column-gap: 20px;
    background-color: grey;
  }

  #section4{
    width: 700px;
    height: auto;
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: 340px 340px;
    grid-column-gap: 20px;
    background-color: grey;
  }
  .wrap{
    width: 1900px;
    height: auto;
    display: grid;
    padding-top: 30px;
    grid-auto-rows: 300px 300px;
    grid-template-columns: 440px 440px;
  }

  #film{
    width: 350px;
  }
  .link ul {
    line-height: 30px;
    text-decoration: underline;
    padding-bottom: 30px;

  }
  .link h2{
    padding: 10px 30px 20px;

  }
  .info p{
    padding: 0px 30px 20px;
    font-family: cursive;
    line-height: 24px;
  }
  #banner{
    width: 350px;
  }
  .info{
    width: 100%;
  }
  .info h2{
    padding: 10px 30px 20px;
    font-family: arial;
    font-size: 30px;
    color:#111;
    line-height: 44px;
  }
  #section2{
    width: 700px;
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: 50px;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #magnolia{
    width: 100%;
  }
  #gone{
    width:100%;
  }
  #hustle{
    width: 100%;.
  }
  #father{
    width: 100%;
  }
  #silver{
    width: 100;
  }
  #punch{
    width: 100%;
  }
  #inception{
    width: 100;

  }
  .gallery{
    width:100%;
  }
  #section3{
    width: 700px;
    height: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding-top: 20px;
  }

  nav{
    background-color: white;
    width: 275px;
    margin: 0 auto;
  }
  nav ul {
    background-color: white;
  }
  nav ul li{
    list-style:none;
    display: inline-block;
    margin-right: 30px;
    margin-left:8px;

  }
  nav ul li a{
    color: blue;
    text-decoration: none;
  }
  nav ul li a:hover{
    color: grey;
  }
  #middle{
    text-align: center;
  }

  @media only screen and(min-width: 768px){
    #banner{
      display: none;
    }
  }
